h1{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(34, 188, 103);
    font-size: 80px;
}
body{
    background-color: black;
}
main{
     background-color: rgb(255, 249, 249);
     font-size: 20px;;
    width: 50%;
    height: 70%;
   margin: auto;
   padding: 50px 10px;
}

button{
    font-size: 25px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(10, 172, 29);
    color: antiquewhite;
    margin-left: 220px;
}